.hnas_wrapper {
  position: relative;
  display: inline-block;
}
.hnas_wrapper > div.hnas_tooltip {
  min-width: 250px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: white;
  z-index: 100000;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  -moz-box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
  box-shadow: 0px 10px 39px 10px rgba(62, 66, 66, 0.22);
}
.hnas_wrapper > div.hnas_tooltip > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.hnas_wrapper > div.hnas_tooltip > ul > li {
  display: block;
}
.hnas_wrapper > div.hnas_tooltip > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  font-size: 1rem;
  line-height: 1.25rem;
}
.hnas_wrapper > div.hnas_tooltip > ul > li > a:hover {
  text-decoration: underline;
  color: black !important;
  background-color: #f3f4f6;
}
